<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Account Create</h1>
    <form action="/accountcreate" method="post">
        <label>Account Number</label>
        <input type="text" name="ac" required>
        <label >pin number</label>
        <input type="text" name="pin" required>
        <label>Balance</label>
        <input type="text" name="balance" required>
        <input type="submit" value="Create Account">
    </form>
</body>
</html>