<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Balance Enquiry !</h1>
    <form action="/balance" method="post">
        <label>Account_number</label>
        <input type="text" name="accountnumber" required>
        <label>Pin_Number</label>
        <input type="text" name="pin" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>