<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deposite</h1>
    <form action="/deposit" method="post">
        <label>Account_number</label>
        <input type="text" name="accountnumber" required>
        <label>Pin</label>
        <input type="text" name="pin" required>
        <label>Deposit Amount</label>
        <input type="text" name="deposit" required>
        <input type="submit" value="Submit">
    </form>
    <a href="http://127.0.0.1:5000/login">Back</a>
</body>
</html>