<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ministatement</h1>
    <form action="/ministatement" method="post">
        <label>Account_number</label>
        <input type="text" name="ac" required>
        <!-- <label >Withdraw</label>
        <input type="text" name="withdraw" required>
        <label >Balance</label> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>